/* Hagrid Grid System */
[class*="cols-"]
  display: block
  margin: 10px
  vertical-align: top
  +prefix(box-sizing, border-box)

  @media screen and (min-width: $small-device)
    +inline-block


[class*="layout-"],
[class*="grid-col-"],
  +inline-block
  margin: 0
  vertical-align: top
  +prefix(box-sizing, border-box)



[class*="cols-"],
[class*="grid-col-"],
[class*="layout-"],
.grid-box
  vertical-align: top
  +prefix(box-sizing, border-box)
  @media screen and (min-width: $small-device)
    +inline-block

.grid-box
  +inline-block


[class*="grid-for"].margin-boxes

  .grid-box
    +prefix(background-clip, padding-box)
    border: 10px solid transparent

*.col-set
  margin: 0

.gs-wrap
  padding: 0 1em
  margin: auto

.grid-wrap
  display: block
  margin: auto

  @media screen and (min-width: $portrait-ipad)


  @media screen and (min-width: 960px)
    width: $width-960

.grid-columns
  display: block
  margin: auto

  @media screen and (min-width: $portrait-ipad)


  @media screen and (min-width: 960px)
    width: $width-960


.grid-wrap,
[class*="cols-"]
  img
    max-width: 100%
    height: auto


.grid-960
  width: $width-960


.grid-col-full
  width: $width-100-percent

  &:before
    content: "full width"


.grid-col-half
  width: 50%

  &:before
    content: "half"

.grid-col-third
  width: 33.3%

  &:before
    content: "third"

.grid-col-fourth
  width: 25%

  &:before
    content: "fourth"

.grid-col-fifth
  width: 20%

  &:before
    content: "fifth"


/// Layouts, Flex, width
@for $i from 1 through 10
  .height-#{$i}0,
    height: (($i*10)/100)*100%

/// Layouts, Flex, width
@for $i from 1 through 10
  .#{$class-layout}-#{$i}0,
  .#{$class-flex}-#{$i}0,
  .grid-wrap-#{$i}0,
  .width-#{$i}0,
  .layout-#{$i}0
    width: (($i*10)/100)*100%


/// Boxes
@for $i from 1 through 12
  .#{$class-mod}-#{$i}

    .grid-box
      width: ($width-100-percent/$i)



// cols normal
@for $i from 1 through 12
  .#{$class-cols}-#{$i}

    @media screen and (min-width: $grid-960)
      width: ($col-width*$i)+(($col-margin*2)*$i0)

    @for $in from 1 through 6

      @if $in == 6
        @media screen and (min-width: $small-device ) and (max-width: ( ($grid-960 - ($col-width-responsive * ($in - 1)) ) - 1) )
          width: (($col-width-responsive - (5 * $in) )*$i)+(($col-margin*2)*$i0)
      @else
        @media screen and (min-width: $grid-960 - ($col-width-responsive * $in) ) and (max-width: ( ($grid-960 - ($col-width-responsive * ($in - 1)) ) - 1) )
          width: (($col-width-responsive - (5 * $in) )*$i)+(($col-margin*2)*$i0)

  $i0: $i

//sets
@for $i from 1 through 12
  .#{$class-cols}-#{$i}.#{$class-col-set}

    @media screen and (min-width: $grid-960)
      width: (($col-width+20)*$i)


    @for $in from 1 through 6
      @media screen and (min-width: $grid-960 - ($col-width-responsive * $in ) ) and (max-width: ($grid-960 - ($col-width-responsive * ($in - 1) ) )- 1 )
        width: (($col-width-responsive + ( 20 - (5 * $in ))) * $i)


* [class*="no-cols-"]
  display: block!important


/******************/
/**** Debugger ***/
/****************/

[hagrid-debug]

  [class*="cols-"],
  [class*="grid-col-"],
  [class*="layout-"],
  [class*="flex-"],
  [class*="grid-for"] .grid-box,
  .grid-box
    text-align: center
    background-color: $bkcolor-cols
    min-height: 60px
    outline: 1px solid rgba(0, 0, 0, .09)
    color: #fff
    overflow: hidden

    &:before,
    .before
      display: block
      text-align: center
      line-height: 60px
      font-family: arial
      font-weight: bold
      font-size: 18px
      padding: 0
      margin: 0

      @media screen and (max-width: $small-device)
        font-size: 12px

  &.grid-flex
    background: $grey

  *.col-set
    background-color: transparent

    &:before
      display: none

  /// Layout, flex, width
  @for $i from 1 through 10
    .#{$class-flex}-#{$i}0,
    .width-#{$i}0,
    .#{$class-layout}-#{$i}0

      &:before
        content: "#{$i}0%"

    @media screen and (min-width: $md-device)
      .#{$class-layout}-lg-#{$i}0
        &:before
          content: "#{$i}0%"


    @media screen and (min-width: $sm-device) and (max-width: $md-device)
      .#{$class-layout}-md-#{$i}0
        &:before
          content: "#{$i}0%"


    @media screen and (min-width: $xs-device) and (max-width: $sm-device)
      .#{$class-layout}-sm-#{$i}0
        &:before
          content: "#{$i}0%"


    @media screen and (max-width: $xs-device)
      .#{$class-layout}-xs-#{$i}0
        &:before
          content: "#{$i}0%"


  /// Boxes
  @for $i from 1 through 12
    .#{$class-mod}-#{$i},
    &.#{$class-mod}-#{$i}

      .grid-box

        &:before
          content: "#{$i}"


  // cols normal
  @for $i from 1 through 12
    .#{$class-cols}-#{$i}

      &:before
        content: "#{$i}"


    $i0: $i

  &[debug-empty]
    *
      &:before
        content: ''


// FLEX BOX
[class*="grid-flex"],
[class*="support-flex"],
.grid-system,
.gs,
  display: flex
  margin: 0
  vertical-align: top
  +prefix(box-sizing, border-box)

  // Flex Direction
  @each $i in $flex-direction-list
    &.#{$flex-direction}-#{$i}
      flex-direction: #{$i}

  // Flex Wrap
  @each $i in $flex-wrap-list
    &.#{$flex-wrap}-#{$i}
      flex-wrap: #{$i}

  // Flex justify
  @each $i in $justify-content-list
    &.#{$justify-content}-#{$i}
      justify-content: #{$i}

  // Flex align-items
  @each $i in $align-items-list
    &.#{$align-items}-#{$i}
      align-items: #{$i}


  //align-self
  @each $i in $align-self-list
    .#{$align-self}-#{$i}
      align-self: #{$i}

  //align-content
  @each $i in $align-content-list
    &.#{$align-content}-#{$i}
      align-content: #{$i}

.gutters
  > [class*="layout-"]
    margin: 1em

[class*="layout-auto"]
  width: 100%

.sticky-sides

  > [class*="layout-"]
    &:first-child,
    &.first-child
      margin-left: 0

    &:last-child,
    &.last-child
      margin-right: 0


@for $i from 1 through 3
  [gutters="#{$i}0px"]
    > [class*="layout-"]
      margin: #{$i}0px
  [gutters="#{$i}em"]
    > [class*="layout-"]
      margin: #{$i}em
  [gutters="#{$i}rem"]
    > [class*="layout-"]
      margin: #{$i}rem
  [gutters="#{$i}0%"]
    > [class*="layout-"]
      margin: #{$i}0%

.gutters-x,
.gutters-sides
  > [class*="layout-"]
    margin-top: 0
    margin-bottom: 0
.gutters-y,
.gutters-top-bottom
  > [class*="layout-"]
    margin-right: 0
    margin-left: 0
.gutters-right
  > [class*="layout-"]
    margin-top: 0
    margin-bottom: 0
    margin-left: 0
.gutters-left
  > [class*="layout-"]
    margin-top: 0
    margin-bottom: 0
    margin-right: 0
.gutters-top
  > [class*="layout-"]
    margin-bottom: 0
    margin-right: 0
    margin-left: 0
.gutters-bottom
  > [class*="layout-"]
    margin-top: 0
    margin-right: 0
    margin-left: 0



/// Order
@for $i from 1 through 12
  .#{$class-order}-#{$i}

    order: $i

// General Grid class
// GRID
[class*="grid-flex"]
  text-align: left


.full-width
  width: 100%

.full-height
  height: 100%

.fixed-area
  position: fixed
  width: inherit

.full-screen
  position: absolute
  height: 100%
  width: 100%
  left: 0
  top: 0

.scroll-y
  overflow: hidden
  overflow-y: scroll!important

.scroll-x
  overflow: hidden
  overflow-x: scroll!important

.centered
  display: block
  margin: auto



body
  /// Layouts, Flex, width
  @for $i from 1 through 10
    .#{$class-layout}-#{$i}0,
    .#{$class-flex}-#{$i}0,
    .grid-wrap-#{$i}0,
    .width-#{$i}0,
    .layout-#{$i}0

    @media screen and (min-width: $md-device)
      .gutters-lg
        > [class*="layout-"]
          margin: 1em

      .layout-lg-#{$i}0
      .width-lg-#{$i}0
        width: (($i*10)/100)*100%

    @media screen and (min-width: $sm-device) and (max-width: $md-device)
      .gutters-md
        > [class*="layout-"]
          margin: 1em

      .layout-md-#{$i}0
      .width-md-#{$i}0
        width: (($i*10)/100)*100%

    @media screen and (min-width: $xs-device) and (max-width: $sm-device)
      .gutters-sm
        > [class*="layout-"]
          margin: 1em

      .layout-sm-#{$i}0,
      .width-sm-#{$i}0,
        width: (($i*10)/100)*100%

    @media screen and (max-width: $xs-device)
      .gutters-xs
        > [class*="layout-"]
          margin: 1em

      .layout-xs-#{$i}0
      .width-xs-#{$i}0
        width: (($i*10)/100)*100%

  @media screen and (min-width: $md-device)
    .gs-block-lg
      display: block
      [class*="layout-"]
        width: auto
        display: block

    .gs-block2-lg
      display: block
      [class*="layout-"]
        width: 100%
        display: block

    .sticky-sides-lg

      > [class*="layout-"].gs-block-sm
        &:first-child,
        &.first-child
          margin-left: 0

        &:last-child,
        &.last-child
          margin-right: 0

    .align-left-lg
      text-align: left
    .align-center-lg
      text-align: center
    .align-right-lg
      text-align: right

    .hide-lg
      display: none

    .show-lg,
    .block-lg
      display: block

  @media screen and (min-width: $sm-device) and (max-width: $md-device)
    .gs-block-md
      display: block
      [class*="layout-"]
        width: auto
        display: block

    .gs-block2-md
      display: block
      [class*="layout-"]
        width: 100%
        display: block

    .sticky-sides-md

      > [class*="layout-"]
        &:first-child,
        &.first-child
          margin-left: 0

        &:last-child,
        &.last-child
          margin-right: 0

    .align-left-md
      text-align: left
    .align-center-md
      text-align: center
    .align-right-md
      text-align: right

    .hide-md
      display: none

    .show-md,
    .block-md
      display: block

  @media screen and (min-width: $xs-device) and (max-width: $sm-device)
    .gs-block-sm
      display: block
      [class*="layout-"]
        width: auto
        display: block

    .gs-block2-sm
      display: block
      [class*="layout-"]
        width: 100%
        display: block

    .sticky-sides-sm

      > [class*="layout-"]
        &:first-child,
        &.first-child
          margin-left: 0

        &:last-child,
        &.last-child
          margin-right: 0

    .align-left-sm
      text-align: left
    .align-center-sm
      text-align: center
    .align-right-sm
      text-align: right

    .hide-sm
      display: none

    .show-sm,
    .block-sm
      display: block

  @media screen and (max-width: $xs-device)
    .gs-block-xs
      display: block
      [class*="layout-"]
        width: auto
        display: block

    .gs-block2-xs
      display: block
      [class*="layout-"]
        width: 100%
        display: block

    .sticky-sides-xs

      > [class*="layout-"]
        &:first-child,
        &.first-child
          margin-left: 0

        &:last-child,
        &.last-child
          margin-right: 0

    .align-left-xs
      text-align: left
    .align-center-xs
      text-align: center
    .align-right-xs
      text-align: right

    .hide-xs
      display: none

    .show-xs,
    .block-xs
      display: block

