.badge
  background: #fff
  color: #333
  padding: 0.2em
  border-radius: 100%
  min-width: 1.4em
  height: 100%
  margin: 0 0.1em
  font-size: 0.8em
  line-height: 1.1em
  +inline-block

  &.badge-left
    margin: 0 .5em 0 0

  &.badge-right
    margin: 0 0 0 .5em
