@font-face {
  font-family: 'hagrid';
  src: url("./fonts/hagrid.eot?ynwl17");
  src: url("./fonts/hagrid.eot?ynwl17#iefix") format("embedded-opentype"), url("./fonts/hagrid.ttf?ynwl17") format("truetype"), url("./fonts/hagrid.woff?ynwl17") format("woff"), url("./fonts/hagrid.svg?ynwl17#hagrid") format("svg");
  font-weight: normal;
  font-style: normal;
}