.input-default 
  input,
  button,
  select
    border: 0
    padding: .7em
    +border-box

    &:focus
      outline: none

    &[type="text"],
    &[type="number"]
      box-shadow: 0 -2px 0 0px rgba(0, 0, 0, .2) inset
      background: transparent
      color: #333
      transition: background-color .3s

      &:focus
        background: rgba(255, 255, 255, .9)
        box-shadow: 0 -2px 0 0px #2D6CC9 inset

    &.block
      width: 100%
      display: block

  button,
  [class*="btn-"]
    [class*="icon-"]
      font-size: 1.5em
      line-height: 0px
      top: -2px
      display: inline-block
      position: relative
      vertical-align: middle

  button,
  input[type="submit"]
    background-color: #fff
    box-shadow: 0 -2px 0 0px rgba(0, 0, 0, .2) inset
    color: #333

  select
    +prefix(appearance, none)

  input[type="radio"]

.input-form
  &.input-form-outline
    input,
    button,
    select
      border: 1px solid
      border-color: #dfdfe2
      color: #5e616f
      padding: $input-padding
      +placeholder-color(#9ea0a9)
      +border-box


      &:active,
      &:focus,
      &.input-focus,
      &.input-active
        border-color: #bfc0c5
        color: #5e616f
        outline: none
        +placeholder-color(#5e616f)

      &.input-disabled
        color: #dfdfe2
        border-color: #dfdfe2
        +placeholder-color(#dfdfe2)

      &.input-invalid
        color: #ec407a
        border-color: #ec407a
        +placeholder-color(#ec407a)


  &.input-form-filled
    input,
    button,
    select
      border: 1px solid
      border-color: $color-primary
      color: $color-primary
      padding: $input-padding
      background-color: #f2f2f3
      +placeholder-color($color-primary)
      +border-box


      &:active,
      &:focus,
      &.input-focus,
      &.input-active
        border-color: $color-primary
        color: $color-primary
        outline: none
        +placeholder-color($color-primary)

      &.input-disabled
        color: #dfdfe2
        border-color: #dfdfe2
        +placeholder-color(#dfdfe2)

      &.input-invalid
        color: #ec407a
        border-color: #ec407a
        +placeholder-color(#ec407a)

  &.input-checkbox
    .input-checkbox-icon,
    label
      +inline-block
      vertical-align: middle
      cursor: pointer
      +not-select

    .input-checkbox-icon
      width: 25px
      height: 25px
      border: 2px solid
      border-color: #bfc0c5
      margin-right: 20px
      +prefix(transition, all .5s)

    input[type="checkbox"]
      display: none
      + .input-checkbox-icon
        position: relative

        &:before
          +prefix(transition, all .5s)
          content: ''
          position: absolute
          opacity: 0
          +inline-block
          top: 29%
          left: 20%
          width: 0
          height: 36%
          border: 3px solid #bfc0c5
          border-right: 0
          border-top: 0
          transform: rotate(-45deg)

      &:checked + .input-checkbox-icon
        border-color: $color-primary

        &:before
          opacity: 1
          width: 66%
          border-color: $color-primary
        
  &.input-radio
    .input-radio-icon,
    label
      +inline-block
      vertical-align: middle
      cursor: pointer
      +not-select

    .input-radio-icon
      width: 25px
      height: 25px
      border: 1px solid
      border-color: #bfc0c5
      margin-right: 20px
      border-radius: 25px

    input[type="radio"]
      display: none
      + .input-radio-icon
        position: relative
        box-shadow: 0 0 0 0 $color-primary inset, 0 0 0 6px #fff inset
        +prefix(transition, all .3s)

        &:before
          content: ''


      &:checked + .input-radio-icon
        border-color: $color-primary
        background-color: $color-primary
        box-shadow: 0 0 0 1px $color-primary inset, 0 0 0 3px #fff inset
        //border-color: #3F51B5;
        //background-color: #3F51B5;

        &:before
          opacity: 1



