.tab
  margin: 1em 0
  display: block
  background-color: nth(nth($base-colors, 1), 2)

  .tab-nav
    display: flex
    +reset-list

    .tab-nav-item,
    a
      cursor: pointer
      width: 100%
      text-align: center
      @extend .default-color
      +inline-block
      padding: 0.7em 1em
      line-height: 1em
      color: #333
      background-color: transparent
      text-decoration: none
      font-weight: 100
      font-size: $tab-font-size
      font-weight: $tab-font-weight
      margin: 0
      border-radius: $tab-nav-border-radius
      text-transform: $tab-nav-text-transform
      position: relative
      text-align: center
      border: 1px solid transparent
      border-bottom: 1px solid rgba(0, 0, 0, .05)
      border-right: 1px solid rgba(0, 0, 0, .05)
      +prefix(text-shadow, 0 0 1px rgba(0,0,0,.01))
      +prefix(font-smoothing, antialiased)
      +prefix(transition, background .2s)
      +border-box

      &:last-child
        border-right: 1px solid transparent

      &.tab-show
        color: $color-primary
        border-bottom-color: $color-primary

  .tab-content
    padding: 2em 1em

    .tab-panel
      display: none

      &.tab-show 
        display: block

  @each $base-color in $base-colors
    $key: nth($base-color, 1)
    $value: nth($base-color, 2)
    &.tab-#{$key}
      .tab-nav
        .tab-nav-item,
        a

          &.tab-show
            color: $value
            border-bottom-color: $value
      
      @if $key == light
        background-color: #333
        color: #fff

        .tab-nav
          .tab-nav-item,
          a
            color: #f3f3f3


