$font-default: Arial, Helvetica, Sans-serif
$body-bkcolor: #fefefe
$bkcolor-cols: #3f7edd
$dark-grey: #777
$grey: #eee

$width-960: 960px
$width-100-percent: 100%
$col-width: 60px
$col-width-responsive: 58px
$class-mod: "grid-for"
$class-layout: "layout"
$class-flex: "flex"
$class-order: "order"
$class-col-set: "col-set"
$class-cols: "cols"
$col-margin: 10px
$i0: 0

// Options Flex Box
$flex-direction: "flex-direction"
$flex-wrap: "flex-wrap"
$justify-content: "justify-content"
$align-items: "align-items"
$align-self: "align-self"
$align-content: "align-content"

// Lists Options
$flex-direction-list: "row", "row-inverse", "column", "column-inverse"
$flex-wrap-list: "wrap", "nowrap", "wrap-reverse"
$justify-content-list: "flex-start", "flex-end", "center", "space-between", "space-around"
$align-items-list: "flex-start", "flex-end", "center", "baseline", "stretch"
$align-self-list: "auto", "flex-start", "flex-end", "center", "baseline", "stretch"
$align-content-list: "flex-start", "flex-end", "center", "space-between", "space-around", "stretch"
	

// Sizes devices
$small-device: 640px
$portrait-ipad: 700px
$grid-960: 960px
$landscape-ipad: 1024px
$normal-screen: 1400px